<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308381275742-25957mosvrhhas4c7uc361jein0g0309.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308381275742-25957mosvrhhas4c7uc361jein0g0309</string>
	<key>API_KEY</key>
	<string>AIzaSyAoZaORemedMI0eN4DFXI7bBfX5nKbfc0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>308381275742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laxusgooee.omode</string>
	<key>PROJECT_ID</key>
	<string>fcmtest-2fcba</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmtest-2fcba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308381275742:ios:0a6ea7808399e5a39546cf</string>
	<key>DATABASE_URL</key>
	<string>https://fcmtest-2fcba.firebaseio.com</string>
</dict>
</plist>